/* body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    background-color: #f4f1de;
    color: #333;
}

header {
    background-color: #3d405b;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #81b29a;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

main {
    background-color: #e07a5f;
    font-size: medium;
    padding: 20px;
    color: white;
}

footer {
    background-color: #f2cc8f;
    font-size: small;
    text-align: center;
    padding: 15px;
    color: #333;
}

li {
    display: contents;
    width: 200px;
}

h1 {
    line-height: 2px;

} */
/* .skip-link {
    position: absolute;
    top: -40px;
    left: 10px;
    background: #000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    z-index: 100;
}
.skip-link:focus {
    top: 10px;
} */

/* Navigation styling */
nav {
    display: inline-block;
    width: 80%;
    background-color: #81b29a;
    padding: 10px;
    text-align: center;
}
nav img {
    width: 10%;
}

/* Grid class styling */
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.grid img {
    width: 100%;
}

/* Flex class styling */
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Commenting out existing li styling */
/* li { display: contents; width: 200px; } */